{% extends "layout.html" %}

{% block title %}
    About Veganism
{% endblock %}

{% block main %}
    <h4 id="list-title">So, Why Go Vegan?</h4>
    <ul class="mylist">
        <li id="sublist-title">For the planet:</li>
            <ul>
                <li>Eating a plant-based diet means lessening your personal negative environmental impact. For example, it decreases your carbon and water footprints and less land is required to support your diet since you're eating lower on the food chain.</li>
            </ul>
        <li id="sublist-title">For the animals:</li>
            <ul>
                <li>It reduces the unnecessary suffering of animals used for their meat and byproducts. Unfortunately, farm animals are often kept in atrocious conditions, abused, exploited, and killed inhumanely.</li>
            </ul>
        <li id="sublist-title">For your health:</li>
            <ul>
                <li>Scientific studies show a connection between a balanced vegan diet and important health benefits. A healthy vegan diet can reduce cholesterol, control hypertension, and protect against cancer, osteoporosis, and heart disease.</li>
            </ul>
    </ul>
    <br>
    <h4 id="list-title">Resources:</h4>
    <ul class="mylist">
        <li id="sublist-title">Helpful Sites:</li>
            <ul>
                <li><a href="https://www.happycow.net/" target="_blank">HappyCow</a>: Site to find vegan and vegetarian restaurants nearby; also has an app suitable for Android and iOS</li>
                <li><a href="https://www.peta.org/living/food/free-vegan-starter-kit/" target="_blank">PETA Vegan Starter Kit</a>: Order a free vegan starter kit from PETA complete with plant-based recipes and tips for going vegan</li>
                <li><a href="https://www.peta.org/living/food/accidentally-vegan/" target="_blank">PETA Accidentally Vegan</a>: Find a list of accidentally vegan foods and snacks that you can find at a regular grocery or corner store</li>
            </ul><br>
        <li id="sublist-title">Informative Documentaries:</li>
            <ul>
                <li><a href="https://www.cowspiracy.com/" target="_blank">Cowspiracy</a>: Download and watch this feature-length environmental documentary that explores the detrimental environmental impacts of animal agriculture</li>
                <li><a href="http://www.nationearth.com/" target="_blank">Earthlings</a>: Watch this hidden-camera documentary film about humankind's total dependence on animals for economic purposes (Warning: graphically depicts animal abuse)</li>
            </ul><br>
        <li id="sublist-title">Vegan YouTube Channels:</li>
            <ul>
                <li><a href="https://www.youtube.com/channel/UCudzojQxnLAI7uQPVYJy_oQ" target="_blank">hot for food</a>: Canadian homecook Lauren Toyota cooks up delicious vegan comfort food recipes</li>
                <li><a href="https://www.youtube.com/channel/UCEjkioV3LO_OIUaSWRxFZ3A" target="_blank">Cheap Lazy Vegan</a>: Rose Lee shares her afforable vegan meal ideas including vegan versions of traditional Korean dishes as well as mukbangs and vlogs</li>
                <li><a href="https://www.youtube.com/channel/UCF-ACPYNN0oXD4ihS5mbbmw" target="_blank">avantgardevegan</a>: Welsh chef Gaz Oakley puts together healthy protein-packed vegan recipes</li>
                <li><a href="https://www.youtube.com/channel/UCGU1N16DWHFj-IoahZCLhWw" target="_blank">emily ewing</a>: Emily Ewing is a college student who films entertaining vlogs focusing on her vegan diet, showing that veganism can be easy, cheap, and accessible</li>
            </ul><br>
    </ul>
{% endblock %}