{% extends "layout.html" %}

{% block title %}
    Barcode Image Upload
{% endblock %}

{% block main %}
    <form action="/barcode" method="POST" enctype="multipart/form-data">
        <div class="custom-file">
            <label for="image"><h4>Upload Image:</h4></label>
            <br><br>
            <input type="file" name="image" id="image" accept="image/*" required>
        </div>
        <br><br>
        <button class="btn btn-success" type="submit">Look up</button>
    </form>

      
{% endblock %}